<table class="table">
  <tr>
    <td>Name</td>
    <td>
      <%= @client.Nom %>
    </td>
  </tr>
  <tr>
  </tr>
</table><h3>Clients
</h3>
<p>
  List all the client here

</p>
<%= link_to 'Edit', edit_client_path(@client) %> | <%= link_to 'Back', clients_path %>
