/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

@import "font-awesome";

@import "navbar-top-fixed";
@import "projects";

#tasks .input {

margin-left: 10px;

}
	#tasks div.nested-fields table {

margin-left: 150px;

width: 80%;

}


#tasks label.boolean.optional {

width: 50px;

}


#tasks input[type="checkbox"] { margin:  8px; }


td.done_column { width: 80px; }



//.add_fields, .remove_fields { margin-left: 150px; }


#tasks > .nested-fields > table .remove_fields { margin-left: 0px; line-height: 30px; }


#tasks .clearfix { margin-bottom: 2px; }


#tasks > .nested-fields > .links > a.add_fields { margin-top: 2px; width:100%; display:block; margin-bottom: 20px; }

#tasks > .links > a.add_fields { margin-top: 20px; width: 100%; display:block; border-top: 1px dashed silver; }


.project-tag-fields { padding: 2px; border: 1px dashed #ddd; }


.sub_tasks { margin-left: 100px; }


td .btn {

margin-left: 3px;

}


.well.well-compact {

margin: 5px;

}


- app/assets/javascripts/projects.js:

$(document).ready(function() {

$("#owner a.add_fields").

  data("association-insertion-position", 'before').

  data("association-insertion-node", 'this');


$('#owner').bind('cocoon:after-insert',

function() {

   $("#owner_from_list").hide();

   $("#owner a.add_fields").hide();

});

$('#owner').bind("cocoon:after-remove",

function() {

   $("#owner_from_list").show();

   $("#owner a.add_fields").show();

});


$("#tags a.add_fields").

  data("association-insertion-position", 'before').

  data("association-insertion-node", 'this');


$('#tags').bind('cocoon:after-insert',

function(e, tag) {

console.log('inserting new tag ...');

$(".project-tag-fields a.add-tag").

data("association-insertion-position", 'after').

data("association-insertion-node", 'this');

$(this).find('.project-tag-fields').bind('cocoon:after-insert',

  function() {

console.log('insert new tag ...');

console.log($(this));

$(this).find(".tag_from_list").remove();

$(this).find("a.add_fields").hide();

  });

});


$('.project-tag-fields').bind('cocoon:after-insert',

function(e) {

console.log('replace OLD tag ...');

e.stopPropagation();

console.log($(this));

$(this).find(".tag_from_list").remove();

$(this).find("a.add_fields").hide();

});



$('#tasks').bind('cocoon:before-insert', function(e,task_to_be_added) {

console.log(task_to_be_added);

task_to_be_added.fadeIn('slow');

});


$('#tasks').bind('cocoon:after-insert', function(e, added_task) {

//added_task.css("background","red");

});


$('#tasks').bind('cocoon:before-remove', function(e, task) {

$(this).data('remove-timeout', 1000);

task.fadeOut('slow');

})


//$('body').tabs();

});

- app/assets/stylesheets/projects.scss

/* Sticky footer styles

-------------------------------------------------- */


html,

body {

  height: 100%;

  /* The html and body elements cannot have any padding or margin. */

}


/* Wrapper for page content to push down footer */

#wrap {

  min-height: 100%;

  height: auto !important;

  height: 100%;

  /* Negative indent footer by it's height */

  margin: 0 auto -40px;

}


/* Set the fixed height of the footer here */

#push,

#footer {

  height: 40px;

}

#footer {

  background-color: #f5f5f5;

}


/* Lastly, apply responsive CSS fixes as necessary */

@media (max-width: 767px) {

  #footer {

margin-left: -20px;

margin-right: -20px;

padding-left: 20px;

padding-right: 20px;

  }

}




/* Custom page CSS

-------------------------------------------------- */

/* Not required for template or sticky footer method. */


#wrap > .container {

  padding-top: 60px;

}


#footer .credit {

  margin: 10px;

}



p.muted {

  color: #aaa;

  margin-top: 5px;

  margin-bottom: 0px;

}
